<form action="/add_update" method = "post">
  <div>
    <label for="task1">How long did you exercise (minutes)</label>
    <input id="task1" type="text" name="task1_param">
  </div>
  <button> Submit </button>
</form>
 